-----BEGIN CERTIFICATE-----
MIICljCCAX4CCQDbpy/d7NMNxDANBgkqhkiG9w0BAQsFADANMQswCQYDVQQGEwJE
RTAeFw0yMzA4MTAxNDUzNTRaFw0yNDA4MDkxNDUzNTRaMA0xCzAJBgNVBAYTAkRF
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4u+jr2Tsr0bgvPfEQWGR
HATPocuY27n5WbJlJ69C2zaZk4FC3TgO/EYuedLv0sgID0ImgiITESLX//dUZUsz
l3sccwVF2SFAedVAqJ8ULw5OrYwRMbw6gR3BxgUl5eSyeR8fekgj/m+sVOjxUcxp
8AmfvaU2ZT6WIjirZD2mId9zjp9ZOuKEFKAr8lsjTrZdtEjhqQexMF0xOhaIck8b
lxCd19pMIFNO4FS4RoLw5jVnO18k/BGOMPtlAZbkH5SlAdPbsngiJ9W4IvGB/B+p
KVYFNhVPuH/yHRVEyx3Pyt4QbDhPug+nv/ZgDQYFOtnc2d25Pg/yVadFfKvzqbaW
swIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQDiNJeFCuqw3KSc62k07ZUBHjnfZMcq
jTnsHqoKt7Kvmq/39BybEfIkhlL4E1o7rengvmBRWdigPmEhWK0TQAklZgGlC9dj
I8AjJUH6XsGMHvw9OgaUYMe3nYMlDHkAKHLNDmaCFRcTQ5qKz9CWW4LiDvvcOMlP
YeJc+eiU/Ib10Lqx3PwWCbVvV0zXU6RPTVAiS3ASWiLsRzliZZHrFCQE4coSCsBy
PQafrfWK2xWqn3Mu6cAuiGspKxS3qOfXc7NzTPw2kG6Ga6TsDNh2PB3pyTnMLB+l
XA7kWQoLMODHjLPE48+GTH19OrByrav/RbGKJjCMSwnxe+Ayzyjeym/r
-----END CERTIFICATE-----
